body{
    /* margin-top: 65px; */
    padding-top: 65px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.myLogo{
    width: 70px;
    margin: 0;
    padding: 0;
}

h2{
    font-weight: bold;
}

.slider{
    background-color: #f2f2f2;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 50%, 50%;
    border-radius: 50%;
}

.hakkimizda{
    background-color: #f2f2f2;
    padding: 70px 0 10px 0;
}

.ekibimiz{
    padding-top: 70px;
}



hr{
    border-bottom: 3px solid #343a40;
    margin: 30px auto;
    max-width: 500px;
}

.dark {
    color: #343a40;
    position: relative;
    top: -65px;
    border: 10px solid #f2f2f2;
    background-color: #f2f2f2;
}

.white{
    color: #343a40;
    position: relative;
    top: -65px;
    border: 10px solid #fff;
    background-color: #fff;
}

.card:hover{
    opacity: 0.8;
}

.galeri{
    background-color: #f2f2f2;
    padding-top: 70px;
}

.figure:hover{
    box-shadow: 0 0 10px 1px #666e75;
    transition: 0.3s;
    opacity: 0.8;
}

.iletisim{
    padding-bottom: 20px;
}

.iletisim label{    
    color: #343a40;
    font-weight: bold;
}
